@font-face {
  src: url(./monsterrat.ttf);
  font-family: monsterrat;
}

.heading-1 {
  color: #ffffff;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-div {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #121212;
  font-family: monsterrat;
}

input {
  font-family: monsterrat;
}

input {
  font-size: 18px;
  display: table-cell;
  width: 20%;
  padding: 20px;
}

label {
  padding-right: 20px;
  font-size: 24px;
}

.button-choices {
  padding: 2px;
  border: none;
  width: 150px;
  height: 150px;
}

.p1-controls {
  display: flex;
  align-items: center;
}

.p2-controls {
  display: flex;
  align-items: center;
}

.chosen-status {
  padding-left: 20px;
  font-size: 100px;
}